*{
    box-sizing: border-box;
    font-size: 24px;
    font-family: 微軟正黑體;
}

.container {
    display: flex;
}

.sidebar{
    flex: 0 0 20%;
    background-color: #000000;
}
.sidebar ul{
    margin-top: 100px;
    margin-left: 10%;
}
.sidebar li{
    color:aliceblue;
}

.content {
    flex: 0 0 80%;
    background-color: #e2e6be;
    padding: 15px;
}

header{
    text-align: center;
    position:fixed;
    z-index:2;
    width: 100%;
    background-color: aliceblue;
}

img{
    max-width: 720px;
}

footer{
    text-align: center;
}