.container {
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
}

h1 {
	font-size: 36px;
	text-align: center;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li:before {
	content: "•";
	margin-right: 10px;
}

p{
	font-size: 16px;
}

img{
	max-width: 900px;
	max-height: 600px;
}
